body {
    background-color: #eee
}

.nav-link:hover {
    background-color: #525252 !important
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}
section{
   
    align-items: center;
    justify-content: center;
}
#{
    text-align: center;
    align-items: center;
    justify-content: center;

}